# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [133]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()
air_bnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [7]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.neighbourhood_group.value_counts().head(50)

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [37]:
# Are private rooms the most popular in manhattan?
air_bnb[air_bnb["neighbourhood_group"]== "Manhattan"].room_type.value_counts()

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [38]:
# Which hosts are the busiest and based on their reviews?
air_bnb.groupby("host_name")['reviews_per_month'].sum().sort_values(ascending= False)

host_name
David              508.61
Michael            475.82
Alex               443.44
Sonder (NYC)       397.56
John               321.02
                    ...
Jaymes               0.00
Jayme                0.00
Jayd                 0.00
Jayar                0.00
Kortney William      0.00
Name: reviews_per_month, Length: 11452, dtype: float64

In [14]:
#Which neighorhood group has the highest average price?
air_bnb.groupby("neighbourhood_group")['price'].mean().sort_values(ascending= False)

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

In [39]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby("neighbourhood_group")['price'].sum().sort_values(ascending= False)

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [19]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby("host_name")['price'].sum().sort_values(ascending= False)

host_name
Sonder (NYC)         82795
Blueground           70331
Michael              66895
David                65844
Alex                 52563
                     ...
Carolann                12
Vishanti & Jeremy       10
Salim                   10
Aymeric                  0
Qiuchi                   0
Name: price, Length: 11452, dtype: int64

In [41]:
# Who currently has no (zero) availability with a review count of 100 or more?
air_bnb[(air_bnb["number_of_reviews"]>=100) & (air_bnb["availability_365"] == 0)].head(100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artistsâ€™ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,8798403,Bed and Breakfast in Manhattan!,37818581,Sofia,Manhattan,East Harlem,40.80275,-73.93904,Private room,150,1,225,2018-09-30,4.95,4,0
11326,8799559,ROOM WITH VIEW IN MANHATTAN!,37818581,Sofia,Manhattan,East Harlem,40.80109,-73.93887,Private room,150,1,207,2019-02-21,4.55,4,0
12092,9394266,Chelsea studio,48726094,Antonia,Manhattan,Chelsea,40.75088,-73.99951,Private room,100,2,151,2019-06-17,3.46,1,0
12182,9451126,Cosy Carroll Garden Apartment,48970186,Margarita,Brooklyn,Carroll Gardens,40.68315,-73.99387,Entire home/apt,155,4,128,2019-05-26,2.89,2,0
12375,9544914,"King Bed, Private Room in Crown Heights, Comedian",22423049,Abraham,Brooklyn,Crown Heights,40.67157,-73.94117,Private room,36,2,100,2017-07-31,2.28,1,0

In [130]:
# What host has the highest total of prices and where are they located?
# air_bnb.set_index("host_name", inplace=True)
# air_bnb.loc['Sonder (NYC)']
air_bnb.groupby("host_name")['price'].sum().sort_values(ascending= False)

host_name
Sonder (NYC)         82795
Blueground           70331
Michael              66895
David                65844
Alex                 52563
                     ...
Carolann                12
Vishanti & Jeremy       10
Salim                   10
Aymeric                  0
Qiuchi                   0
Name: price, Length: 11452, dtype: int64

In [134]:
# When did Danielle from Queens last receive a review?

air_bnb[(air_bnb["host_name"]== "Danielle") & (air_bnb["neighbourhood_group"] == 'Queens')]["last_review"]

7086     2019-07-03
16349           NaN
20403    2019-07-06
21517    2019-07-07
22068    2019-07-06
22469    2019-07-08
27021    2018-01-02
33861    2019-06-20
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [31]:
air_bnb["host_name"].value_counts()

Michael           417
David             403
Sonder (NYC)      327
John              294
Alex              279
                 ...
Sherra              1
Xristina&Keith      1
Ronaldo             1
Capucine            1
Lindy               1
Name: host_name, Length: 11452, dtype: int64

2. How many listings have completely open availability?

In [35]:
len(air_bnb[air_bnb["availability_365"]==365])

1295

3. What room_types have the highest review numbers?

In [36]:
air_bnb.groupby("room_type")["number_of_reviews"].mean().sort_values(ascending = False)

room_type
Private room       24.112962
Entire home/apt    22.842418
Shared room        16.600000
Name: number_of_reviews, dtype: float64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
1. There are five and Manhattan is the most popular.
2. No entire homes/apt are the most popular.
3. David, Michael , Alex
4. Manhattan
5. Manhattan 
6. Sonder(NYC),Blueground,Michael,David,Alex     
7. Mary Ellen, Christina, Sol, Coral, Doug, Sofia, Antonia, Margarita
8. Sonder (NYC) in Manhattan
9. 2019-07-08 was the last review
10. Michael
11. 1295
12. private room